body {
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: 0;
    background-color:#E9E9E9;
    ;
}

header { 
    background:#92a3b3;
    ;
    height: 115px;
    width: 100%;
    
}

h1 {
    color:#415995;
    ;
    margin-top: 0;
    font-size: 48px;
    position: relative;
    padding-top: 2%;
    text-align: center;
}

button {
    position: relative;
    top: 20px;
    left: 28px;
    width: 309px;
    height: 37px;
    border-color: none;
    margin-right: 20px;
    align-items: center;
    border: 0;
    background-color: #D9D9D9;
    ;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.div1{
    background-color: rgb(255, 255, 255);
    width: 150px;
    padding: 15px;
}

.div2{
    background-color: rgb(255, 255, 255);
    width: 900px;
    padding: 50px;
    margin-left: 15px;
}

.tamañoDeImajenDiv1{
    width: 100px;
    height: 50px;
}

.contenedor{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
