
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #dee2e6;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-start; 
  flex: 1;
  position: relative;
  left: 140px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    flex: 2;
    overflow: auto;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 40px;
  margin-right: 8px;
  font-size: 14px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
}

.botonbuscar:hover {
  background-color: green;
}

.logo {
  position: relative;
  left: 40px;
  height: 40px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  color: #000000; /* Cambia el color del texto al pasar el cursor */
  background-color: #d0d0d0; /* Establece el color de fondo al pasar el cursor */
  padding: 10px 8px; /* Ajusta el espacio interno para que sea un bloque */
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
footer {
  margin-top: -20px;
}
