.Contenedor-Consultas{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    row-gap: 50px;
}

._div{
    padding-top: 34px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

._div:hover{
    background-color: black;
    color: whitesmoke;
}