.container-Nov{

    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
    background-color: whitesmoke;
    border-radius: 10px;
    width: 900px;
}

#vermas{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    border: none;
    background-color: whitesmoke;
    color: black;
}

.vermas:hover{
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: black;
}