.container-Nov{

    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    
    
    background-color: whitesmoke;
    border-radius: 10px;
    width: 900px;
}

#vermas{
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
}

#vermas:hover{
    
    color: rgb(255, 255, 255);
    background-color: black;
}

.NohayNoticias{
    padding-left: 43%;
    
}