*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../img/fondoaz.jpg); 
    background-color: rgb(210, 210, 210);
    background-repeat: no-repeat;
    background-position: center;
    background-size:center/cover;
    overflow-x: hidden;
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

