/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos del formulario */
.fondo-turno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    position: relative;
    top: -15px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    position: relateve;
    top: 200px;
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    position: relative;
    top: 100px;
    background-color: #1f8bff;
    height: 90px;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #027cff;
}

